* {
	box-sizing: border-box;
}

body {
	width: 100%;
	padding-top: 7.5em;
	margin: 0 auto;
	font-family: 'Titillium Web', sans-serif;
	background-color: #f5f5f5;
}

a {
	text-decoration: none;
	color: black;
}

header {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #d3d3d3;
	z-index: 30;
}

.search-banner {
	width: 100%;
	padding: 0 .6em .6em .6em;
	margin: 0 auto;
}

h1 {
	font-size: 32px;
	color: #cc181e;
	vertical-align: center;
	margin: 0 .5em 0 0;
}

h1 span {
	color: black;
}

form {
	margin: 0 auto;
	display: flex;
	flex-direction: row;

}

input[type="text"] {
	width: 85%;
	height: 5em;
	vertical-align: middle;
	border: 1px solid #C8C8C8;
	padding-left: .5em;
}

.search-btn {
	width: 15%;
	height: 5em;
	vertical-align: middle;	
	background-color: #C0C0C0;	
	border: 1px solid #C8C8C8;
	cursor: pointer;
}

.fa-search {
	font-size: 1.5em; 
	color: white;
}

.search-btn:hover {
	background-color: #cc181e;
}

.fa-search:hover{
	color: white;
}

button:focus {
	outline: none;
}

main {
	max-width: 1200px;
	margin-left: .5em;
	margin-right: .5em;
}

.filter-box {
	display: flex;
	justify-content: space-between;
	margin-top: .8em;
}

select {
	font-family: 'Titillium Web', sans-serif;
	font-size: 26px;
	font-weight: 600;
	color: #696969;
	padding: .5em;
	background-color: #fff;
	border: 1px solid #C8C8C8;
	border-radius: .3em;
}

select:focus {
	outline: none;
}

.search-results {
	margin: .6em auto .5em auto;
	width: 100%;
}

.thumbnail-box {
	width: 100%;
	background-color: white;
	border: 1px solid #d3d3d3;
	border-radius: .5em;
	padding-bottom: 1em;
	margin-bottom: .5em;
}

.img-box {
	position: relative;
}

.thumbnail-img {
	width: 100%;
	padding: .8em;
	border-radius: 1em;
	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;
	cursor: pointer;
}

.overlay-box {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.img-box:hover .thumbnail-img {
	opacity: 0.3;
}

.img-box:hover .overlay-box {
	opacity: 1;
}

.fa-play-circle {
	color: #cc181e;
}

.loading-img {
	margin: 10em auto;
	height: 5em;
	width: 5em;
	animation: rotate 0.8s infinite linear;
	border: 8px solid #cc181e;
	border-right-color: transparent;
	border-radius: 50%;
	z-index: 20;
}

@keyframes rotate {
	0%    { transform: rotate(0deg); }
	100%  { transform: rotate(360deg); }
}

h3 {
	width: 100%;
	font-size: 1.5m;
	font-weight: 600;
	padding: .2em .8em .2em .8em;
	margin: 0;
}

p {
	font-size: 1em;
	margin: 0;
	padding-left: .8em;
}

.fa-user {
	font-size: 1em;
	vertical-align: center;
	color: #BEBEBE;
	margin-right: .4em;
}

nav {
	display: flex;
	justify-content: space-between;
	margin: .5em auto;
	width: 99%;
}

.nav-btn {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	position: relative;
	width: 100%;
	padding: .7em;
	border: none;
	background-color: #BEBEBE;	
	border: 1px solid #B0B0B0;
	cursor: pointer;
}

.nav-btn:hover {
	background-color: #cc181e;
}

.next-btn, .prev-btn {
	display: flex;
	justify-content: center;
	color: white;
	font-weight: 700;
}

.next-btn {
	border-radius: 0 .4em .4em 0;
}

.prev-btn {
	border-radius: .4em 0em 0em .4em;
}

.fa-angle-right, .fa-angle-left {
	font-size: 3em;
	vertical-align: center;
	color: white;
}

.next-btn p {
	margin-left: 8em;
}

.prev-btn p{
	margin-right: 8em;
}

.fa-angle-left {
	margin-right: .5em;
}

.fa-angle-right {
	margin-left: .5em;
}

.nav-btn p {
	font-size: 2em;
	text-align: center;
	padding: 0;
}

.lightbox {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color: black;
	opacity: .9;
	z-index:50;
}

.lightbox p {
	float: right;
	color: white;
	margin-right: .5em;
	font-size: 2em;
	opacity: .5;
	cursor: pointer;
}

.videobox {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: .5em;
	margin-top: 10%;
	opacity: 1;
	z-index:51;
}

.close {
	float:right;
	margin-right:6px;
	cursor:pointer;
	cursor: pointer;
}

@media only screen and (min-width: 640px) {
	body {
		padding-top: 5.4em;
	}

	.search-banner {
		display: flex;
		justify-content: space-between;
 		align-items: center;
		width: 100%;
		padding: .8em;
		margin: 0 auto;
	}

	h1 {
		font-size: 42px;
	}

	form {
		width: 90%;
	}

	.loading-img {
		margin: 20em auto;
	}
	.thumbnail-box {
		margin-right: .5em;
	}

	.nav-btn {
		width: 25%;
		border-radius: 0;
	}

	.nav-btn p {
		margin: 0;
	}

	.next-btn, .prev-btn {
		border-radius: .4em;
	}

	.next-btn p {
		margin-left: 1.3em;
	}

	.prev-btn p {
		margin-right: 1.3em;
	}
}

@media only screen and (min-width: 1024px) {
	body {
		padding-top: 6em;
	}

	.filter-box {
		display: flex;
		justify-content: flex-end;
		margin-top: .4em;
		margin-left: .5em;
	}

	select {
		margin-left: .5em;
	}

	.search-results {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 8px;
	}

	main {
		width: 120%;
		margin: 0 auto;
		padding: 0 1em;
	}

	h1 {
		font-size: 42px;
		margin-left: .2em;
	}

	form {
		width: 65%;
		margin: 0;
	}

	input[type="text"] {
		width: 90%;
	}

	.search-btn{
		width: 9%;
	}
}

@media only screen and (min-width: 1200px) {
	body {
		padding-top: 5em;
	}
	.search-banner {
		width: 1200px;
	}

	h1 {
		font-size: 32px;
	}

	.search-results {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.search-btn{
		width: 9%;
	}

	main {
		margin: 0 auto;
	}

	.filter-box {
		margin-top: .3em;
	}

	select {
		padding: .2em;
		font-size: 18px;
	}

	form {
		width: 62%;
		margin: 0;
	}

	input[type="text"] {
		width: 90%;
		height: 3em;
	}
	
	.search-btn{
		width: 9%;
		height: 3em;
	}

	nav {
		height: 50px;
	}

	.nav-btn {
		width: 5%;
	}

	.nav-btn p {
		display: none;
	}

	.fa-angle-right, .fa-angle-left {
		font-size: 2em;
		margin: 0;
	}

	.fa-angle-right {
		margin-left: .2em;
	}

	.fa-angle-left {
		margin-right: .2em;
	}
}
